<div class="container">
	<div class="row">
		<div class="col-md-8">
			<p>Your original URL was :<a href="<%=@url.original_url%>"><%=@url.original_url%></a></p>
			<p>Short URL was : <a href="<%=request.base_url%>/<%=@url.short_url%>" target="_blank"><%=@url.short_url%></a></p>
		</div>
	</div>
</div>			